<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <!-- Include your CSS and other head elements here -->
  </head>
  <body>
    {{{body}}}
    <!-- {{{body}}} is where your views will be injected -->
  </body>
</html>